session.*
tramp
ac-comphist.dat
bookmarks
diary
eww-bookmarks
network-security.data
projectile-bookmarks.eld
projectile.cache
recentf
.org-id-locations
*~
*.swp

semanticdb/
.python-environments/
auto-save-list/
elpa/
eshell/
idlwave/
lisp/
plugins/
semanticsdb/
themes/
tmp/
url/
*~
request/
